@font-face {
  font-family: "Hanken Grotesk";
  src: url(../statique/font/HankenGrotesk.ttf) format("truetype");
}

:root {
  --color2: #050a30;
  --color3: #12229d;
  --color1: #f4f6fc;
  --font1: Hanken Grotesk;
  --font2: Hanken Grotesk;
  --font3: Hanken Grotesk;
}
.sommaire-container-chapitre {
  cursor: pointer;
}
/* make shadow whene over */
.sommaire-container-chapitre:hover {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.9);
  /* Make baground darker and make the div going a little upper */
  transform: translateY(-5px);
  /* mAKE BACKGROUND DARKER */
  background-color: #01030f;
  /* make border round */
  border-radius: 20px;

  /* Make the transition smooth */
  transition: 0.5s;
}

body,
html {
  margin: 0;
  padding: 0;
  /* Scroll smooth */
  scroll-behavior: smooth;
}

#couverture-img,
.test {
  width: 100%;
  height: 100vh;
  display: flex;
  background-position: center;
  flex-direction: column;
}

#couverture-img {
  background-image: url(../statique/img/guide-couverture.jpg);
}

.couverture-container1 {
  top: 0;
}

.couverture-container1,
.couverture-container2,
.couverture-container3 {
  width: 100%;
  display: flex;
  justify-content: center;
}

.couverture-container2 {
  top: 5vh;
}

.couverture-container3 {
  margin-top: 20vh;
}

.couverture-h1-1 {
  font-family: --font2, sans-serif;
  font-size: 3.3vw;
  color: var(--color1);
  text-align: center;
  font-weight: 350;
  display: flex;
  top: 0;
  letter-spacing: 0.1em;
}

.couverture-h1-2,
.couverture-h1-3 {
  color: var(--color1);
  text-align: center;
  font-weight: 400;
  display: flex;
}

.couverture-h1-2 {
  font-family: var(--font1), sans-serif;
  font-size: 5.3vw;
  bottom: 25vh;
}

.couverture-h1-3 {
  font-family: var(--font3), serif;
  font-size: 2vw;
  bottom: 0;
}
@media only screen and (max-width: 600px) {
  #couverture-img,
  .test {
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
  }
  .couverture-container3 {
    margin-top: 30vh;
  }
}

.sommaire,
.sommaire-title {
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
}

.sommaire {
  background-color: var(--color2);
  height: auto;
  flex-direction: column;
  top: 100vh;
  padding-bottom: 30px;
}

.sommaire-title {
  position: relative;
}

.sommaire-title-h2 {
  font-family: var(--font1), sans-serif;
  font-size: 4vw;
  color: var(--color1);
  text-align: center;
  font-weight: 550;
  display: flex;
}

.sommaire-barre,
.sommaire-grid {
  width: 85%;
  align-items: center;
  justify-content: center;
}

.sommaire-barre {
  height: 0.2vh;
  background-color: var(--color1);
  display: flex;
  top: 115vh;
}

.sommaire-grid {
  height: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
  margin-top: 100px;
}

.sommaire-container-chapitre {
  width: 100%;
  height: 100%;
}

.sommaire-chapitre {
  font-family: var(--font2), serif;
  font-size: 2vw;
  color: var(--color1);
  display: flex;
  width: 100%;
  justify-content: center;
  text-align: center;
  font-weight: 350;
  align-items: center;
  letter-spacing: 0.1em;
}

.sommaire-numero {
  font-family: var(--font2), sans-serif;
  font-size: 4vw;
  font-weight: 350;
}

.mot-chapitre,
.numero-chapitre,
.sommaire-numero,
.sommaire-titre,
.titre-chapitre {
  color: var(--color1);
  display: flex;
  justify-content: center;
  letter-spacing: 0.1em;
}

.sommaire-titre {
  font-family: var(--font2), sans-serif;
  font-size: 3.3vw;
  text-transform: uppercase;
  font-weight: 350;
  align-items: center;
  text-align: center;
}

.mot-chapitre,
.numero-chapitre,
.titre-chapitre {
  font-weight: 400;
}

.mot-chapitre {
  font-family: var(--font3), serif;
  font-size: 3.3vw;
  width: 100%;
}

.numero-chapitre,
.titre-chapitre {
  font-family: var(--font2), sans-serif;
  font-size: 5.3vw;
}

.titre-chapitre {
  font-size: 3.3vw;
  text-transform: uppercase;
}

#chapitre0-couverture,
#chapitre1-couverture,
.chapitre-container {
  background-color: var(--color2);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chapitre-container {
  height: auto;
  flex-direction: column;
}

.chapitre-barre,
.chapitre-titre {
  display: flex;
  text-align: center;
  justify-content: center;
}

.chapitre-titre {
  font-family: var(--font2), sans-serif;
  font-size: 5.3vw;
  color: var(--color1);
  width: 100%;
  font-weight: 400;
  letter-spacing: 0.1em;
  top: 40vh;
  padding-top: 15px;
  padding-bottom: 15px;
}

.chapitre-barre {
  width: 85%;
  height: 0.2vh;
  background-color: var(--color1);
}

.texte,
.title {
  font-weight: 400;
}

.texte {
  width: 85%;
  font-family: var(--font3), serif;
  font-size: 2.6vw;
  color: var(--color1);
  justify-content: center;
}

.title {
  font-family: var(--font2), sans-serif;
  font-size: 5.3vw;
  letter-spacing: 0.1em;
  display: flex;
  padding-top: 20px;
  text-align: center;
  text-transform: uppercase;
}

.title,
a {
  color: var(--color1);
}

a:hover {
  color: var(--color3);
  transition: 0.5s;
}

img {
  width: 75vw;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

#chapitre0-couverture,
#chapitre1-couverture {
  /* Set height to image height */
  background-image: url(../statique/img/guide-chapitre0.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

#chapitre1-couverture {
  background-image: url(../statique/img/guide-chapitre1.jpg);
}

#chapitre2-couverture,
#chapitre3-couverture,
#chapitre4-couverture,
#chapitre5-couverture,
#chapitre6-couverture,
#chapitre7-couverture,
#chapitre8-couverture,
#chapitre9-couverture {
  color: var(--color1);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../statique/img/guide-chapitre2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

#chapitre3-couverture,
#chapitre4-couverture,
#chapitre5-couverture,
#chapitre6-couverture,
#chapitre7-couverture,
#chapitre8-couverture,
#chapitre9-couverture {
  background-image: url(../statique/img/guide-chapitre3.jpg);
}

#chapitre4-couverture,
#chapitre5-couverture,
#chapitre6-couverture,
#chapitre7-couverture,
#chapitre8-couverture,
#chapitre9-couverture {
  background-image: url(../statique/img/guide-chapitre4.jpg);
}

#chapitre5-couverture,
#chapitre6-couverture,
#chapitre7-couverture,
#chapitre8-couverture,
#chapitre9-couverture {
  background-image: url(../statique/img/guide-chapitre5.jpg);
}

#chapitre6-couverture,
#chapitre7-couverture,
#chapitre8-couverture,
#chapitre9-couverture {
  background-image: url(../statique/img/guide-chapitre6.jpg);
}

#chapitre7-couverture,
#chapitre8-couverture,
#chapitre9-couverture {
  background-image: url(../statique/img/guide-chapitre7.jpg);
}

#chapitre8-couverture,
#chapitre9-couverture {
  background-image: url(../statique/img/guide-chapitre8.jpg);
}

#chapitre9-couverture {
  background-image: url(../statique/img/guide-chapitre9.jpg);
}

.title-appear {
  -webkit-animation: tracking-in-expand 1.5s cubic-bezier(0.215, 0.61, 0.355, 1)
    both;
  animation: tracking-in-expand 1.5s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
    -webkit-filter: blur(12px);
    filter: blur(12px);
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
    -webkit-filter: blur(0px);
    filter: blur(0px);
  }
}
