<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Home</title>
    <link rel="stylesheet" href="style.css" />
    <script src="script.js" defer></script>
    <!-- <script src="imgApplier.js" defer></script> -->
  </head>
  <body>
    <section class="home-screen">
      <div class="author-container">
        <h3 class="author">Mattia PARRINELLO</h3>
      </div>
      <div class="title-container">
        <h1 class="title" id="title">Le street <br />workout</h1>
        <button class="button" href="#ebook">
          <a href="#ebook">Acceder a nos ebook</a>
        </button>
      </div>
    </section>
    <section class="nosretour">
      <div class="retour-title-container">
        <h2 class="retour-title pop-up">Nos retour</h2>
      </div>
      <div class="retour-container">
        <h3 class="retour-username pop-up">@quentin.lti</h3>
        <p class="retour-text">
          "Mec ton e-book est incroyable, t'as très bien écrit et détaillé
          pleins de choses, il est très très bien fait !"
        </p>
        <h3 class="retour-username pop-up">@pauleliot13</h3>
        <p class="retour-text">"Il est cool ton ebook mec continue comme ça"</p>
        <h3 class="retour-username pop-up">@z.brayan_</h3>
        <p class="retour-text">
          "Sinon, il est plutôt bien structuré, j'ai rarement vu des ebook aussi
          bien détaillé et il est détaillé merci t'es un crack."
        </p>
      </div>
    </section>
    <section class="nosebook" id="ebook">
      <div
        class="retour-title-container"
        style="text-align: center; align-items: center"
      >
        <h2 class="retour-title pop-up">Nos ebook</h2>
      </div>
      <div class="ebook-container">
        <div class="ebook1">
          <h3 class="ebook-title pop-up">Commencer le street workout</h3>
          <p class="ebook-desc">
            Tu veux te lancer dans le street workout ? Cet e-book en 4 chapitres
            détaillé est parfait pour t'aider a commencer !
          </p>
          <button class="ebook-button">
            <a href="debuter">Y acceder</a>
          </button>
        </div>
        <div class="ebook2">
          <h3 class="ebook-title pop-up">Le guide du street workout</h3>
          <p class="ebook-desc">
            Avant de vouloir commencer le street workout, il y a plein de chose
            a savoir. Cet e-book en plus de 9 chapitre te donnera le plus
            d'information pour toi pour que tu puisse progresser en toute
            sécurité
          </p>
          <button class="ebook-button">
            <a href="le-guide-du-street-workout">Y acceder</a>
          </button>
        </div>
      </div>
    </section>
  </body>
</html>
