<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="css/styles.css" />
    <script src="js/script.js" defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Commencer le street workout</title>
  </head>
  <body>
    <div id="couverture-img">
      <div class="couverture-container1">
        <h1 class="couverture-h1-1">COMMENCER LE</h1>
      </div>
      <div class="couverture-container2">
        <h2 class="couverture-h1-2">STREET<br />WORKOUT</h2>
      </div>
      <div class="couverture-container3">
        <h3 class="couverture-h1-3">Mattia Parrinello</h3>
      </div>
    </div>
    <div class="sommaire">
      <div classe="sommaire-title">
        <h2 class="sommaire-title-h2">Sommaire</h2>
      </div>
      <div class="sommaire-barre"></div>
      <div class="sommaire-grid">
        <div id="sommaire-chapitre0" class="sommaire-container-chapitre">
          <div class="sommaire-chapitre">Chapitre</div>
          <div class="sommaire-numero">00</div>
          <div class="sommaire-titre">Introduction</div>
        </div>
        <div id="sommaire-chapitre1" class="sommaire-container-chapitre">
          <div class="sommaire-chapitre">Chapitre</div>
          <div class="sommaire-numero">01</div>
          <div class="sommaire-titre">La préparation physique</div>
        </div>
        <div id="sommaire-chapitre2" class="sommaire-container-chapitre">
          <div class="sommaire-chapitre">Chapitre</div>
          <div class="sommaire-numero">02</div>
          <div class="sommaire-titre">Par quoi commcencer</div>
        </div>
        <div id="sommaire-chapitre3" class="sommaire-container-chapitre">
          <div class="sommaire-chapitre">Chapitre</div>
          <div class="sommaire-numero">03</div>
          <div class="sommaire-titre">La mentalité a avoir</div>
        </div>

        <div id="sommaire-chapitre4" class="sommaire-container-chapitre">
          <div class="sommaire-chapitre">Chapitre</div>
          <div class="sommaire-numero">04</div>
          <div class="sommaire-titre">Alors, tu passes a l'action ?</div>
        </div>
      </div>
    </div>
    <div id="chapitre0-couverture">
      <div id="sommaire-chapitre0" class="sommaire-container-chapitre">
        <div class="mot-chapitre">Chapitre</div>
        <div class="numero-chapite">00</div>
        <div class="titre-chapitre">Introduction</div>
      </div>
    </div>
    <div class="chapitre-container">
      <div class="chapitre-titre">Chapitre 00 - Introduction</div>
      <div class="chapitre-barre"></div>
      <div class="texte">
        <p>
          Salutation ! Si tu lis ce livre, c'est que tu as envie de te lancer
          dans l'aventure du street workout, mais tu ne sais pas par où
          commencer. Le street workout, également connu sous le nom de
          Calisthenics, est un sport qui allie la force physique à la grâce. Il
          est basé sur l'utilisation des équipements publics tels que les barres
          de traction ou les parcs à barres, et vise à se muscler et se sculpter
          tout en profitant de l'air frais et de la nature.
        </p>
        <p>
          Après avoir lu mon premier e-book sur les bases du street workout, tu
          as surement hâte de te lancer dans l'aventure. C'est pourquoi ce livre
          est fait pour toi ! Je vais te montrer comment te préparer
          physiquement pour éviter les blessures, comment définir tes objectifs
          et quelle mentalité adopter pour atteindre tes objectifs. Je serai là
          pour te guider tout au long de ta pratique, en te prodiguant des
          conseils sur les bonnes pratiques pour t'entraîner efficacement et en
          toute sécurité. Et surtout, je serai là pour te motiver et
          t'encourager tout au long de ton parcours.<br />
          Prêt à te lancer ? <br />Allons-y !
        </p>
      </div>
    </div>
    <div id="chapitre1-couverture">
      <div id="sommaire-chapitre1" class="sommaire-container-chapitre">
        <div class="mot-chapitre">Chapitre</div>
        <div class="numero-chapitre">01</div>
        <div class="titre-chapitre">La préparation physique</div>
      </div>
    </div>
    <div class="chapitre-container">
      <div class="chapitre-titre">Chapitre 01 - La préparation physique</div>
      <div class="chapitre-barre"></div>
      <div class="title">Pourquoi faire ?</div>
      <div class="texte">
        <p>
          La préparation physique est un élément clé pour pouvoir profiter
          pleinement de la pratique du street workout. Ce sport est très
          exigeant en termes de force physique et peut mettre à rude épreuve
          notre corps. C'est pourquoi il est important de se préparer
          adéquatement avant de se lancer dans cette aventure. Il est important
          de se concentrer sur des exercices de renforcement musculaire et de
          flexibilité pour éviter les blessures et pour pouvoir progresser plus
          rapidement.
        </p>
        <p>
          Il y a certains mouvements qui sont plus difficiles et plus exigeants
          que d'autres dans le street workout, comme le hefesto, qui sollicitent
          beaucoup les articulations. Si tu n'as pas une bonne préparation
          physique, tu risques de ressentir des douleurs à long terme. Par
          exemple, tu as peut-être déjà remarqué cela en faisant des handstands,
          où tu as pu ressentir des douleurs aux poignets. C'est pourquoi il est
          important de se préparer physiquement avant de se lancer dans le
          street workout, surtout si tu ne pratiques pas déjà un sport
          régulièrement.
        </p>
        <p>
          Il est important de se rappeler que le street workout est un sport qui
          demande de la persévérance et de la patience, une préparation physique
          adéquate te permettra de progresser plus rapidement et de profiter
          pleinement de cette activité.
        </p>
        <p>
          Il est important de mentionner que la préparation physique ne se
          limite pas uniquement aux exercices de renforcement musculaire et de
          flexibilité. Il est également important de s'assurer d'avoir une bonne
          hydratation et de bien manger pour fournir à notre corps les
          nutriments nécessaires pour progresser. Il est également important de
          pratiquer des exercices de respiration pour améliorer la capacité
          respiratoire et de se concentrer sur l'échauffement et l'étirement
          pour éviter les blessures.
        </p>
      </div>
    </div>
    <div class="barre"></div>
    <div class="chapitre-container">
      <div class="title">Comment faire ?</div>
      <div class="texte">
        <p>
          Il est important de comprendre l'importance de la préparation physique
          pour améliorer sa santé globale et ses performances sportives.
          Cependant, il peut être difficile de savoir comment s'y prendre. La
          préparation physique ne doit pas être compliquée, mais peut nécessiter
          un peu de temps et d'efforts.
        </p>
        <p>
          Pour débuter, je te conseille de commencer par des exercices que tu
          sais déjà faire. Par exemple, si tu ne sais faire que des pompes sur
          les genoux, entraîne-toi à en faire davantage. Si tu ne pratiques pas
          de sport régulièrement, augmente progressivement le nombre de pompes
          que tu peux faire. Par exemple, tu pourrais viser de faire 50% de ton
          maximum pendant une semaine, puis augmenter la quantité d'exercice au
          fur et à mesure.
        </p>
        <p>
          Il est également important de varier les types d'exercices que tu fais
          pour éviter la monotonie et pour travailler différents groupes
          musculaires. Tu pourrais par exemple alterner des jours de travail de
          haut du corps avec des jours de travail de bas du corps. De plus, tu
          pourrais inclure des exercices cardiovasculaires pour améliorer ta
          condition physique globale.
        </p>
        <p>
          Il est important de surveiller ton corps pendant l'entraînement et de
          faire attention aux douleurs. Si tu ressens des douleurs quelque part,
          réduis la quantité d'exercice ou arrête jusqu'à ce que la douleur ait
          disparu. Si tu as une douleur persistante, il est recommandé de
          consulter un médecin pour en discuter. Il est également important de
          se rappeler de bien échauffer avant de commencer un entraînement et de
          bien s'étirer après pour éviter les blessures.
        </p>
        <p>
          Il est important de rappeler que cet exemple s'applique à tous les
          exercices de débutant, comme les dips, les tractions, etc. Il est
          important de progresser progressivement pour éviter les blessures. Il
          est également important de fixer des objectifs réalisables et de s'y
          tenir pour rester motivé et continuer à progresser.
        </p>
        <p>
          Enfin, il est important de se rappeler que la préparation physique ne
          se limite pas aux exercices physiques, il est également important de
          manger sainement et de bien se reposer pour maintenir un bon équilibre
          entre l'entraînement et la récupération.
        </p>
        <p>
          Dans la prochaine catégorie, nous verrons comment savoir quand tu es
          prêt pour passer à un niveau supérieur. Il est important de se
          rappeler que la préparation physique est un processus continu qui
          nécessite patience, persévérance et détermination pour atteindre ses
          objectifs.
        </p>
      </div>
    </div>
    <div id="decoration1"></div>
    <div class="chapitre-container">
      <div class="title">Comment savoir quand je suis prêt</div>
      <div class="texte">
        <p>
          Il est important de se préparer physiquement avant de commencer à
          travailler sur des figures spécifiques.
        </p>
        <p>
          Maintenant que vous savez comment vous préparer physiquement, il est
          logique de vous demander quand arrêter. La réponse est simple :
          jamais. La préparation physique est un processus continu d'évolution,
          car vous devrez constamment augmenter la difficulté pour vous préparer
          à des figures plus difficiles. Cela peut inclure des exercices de
          renforcement musculaire, de flexibilité, de coordination et de cardio.
        </p>
        <p>
          Bien que la première phase de préparation soit généralement plus
          calme, vous pouvez progressivement augmenter l'intensité de vos
          entraînements jusqu'à atteindre 80% de votre maximum sur plusieurs
          séries.
        </p>
        <p>
          Une fois que vous avez atteint ce niveau, vous êtes prêt à passer aux
          entraînements plus intensifs et à travailler sur les figures que vous
          souhaitez.
        </p>
        <p>
          Cependant, il est important de ne pas se presser trop rapidement dans
          la préparation physique, car cela peut entraîner des blessures. Il est
          important de prendre le temps de se préparer correctement et de
          progresser à votre rythme pour éviter les blessures et maximiser vos
          résultats.
        </p>
        <p>
          Il est également important de varier vos entraînements pour éviter de
          vous ennuyer et pour continuer à défier votre corps. Cela peut inclure
          des séances d'entraînement en circuit, des cours de yoga ou de Pilates
          pour améliorer la flexibilité et la coordination, ou même des
          exercices de cardio tels que la course à pied ou le vélo pour
          améliorer votre endurance.
        </p>
        <p>
          En résumé, la préparation physique est un processus continu, il est
          important de progresser à votre rythme pour éviter les blessures et
          atteindre vos objectifs. Il est important de varier vos entraînements
          et de travailler sur toutes les parties de votre corps pour une
          préparation physique complète. N'oubliez pas de prendre le temps de
          vous préparer correctement pour atteindre vos objectifs de manière
          sûre et efficace.
        </p>
      </div>
    </div>
    <div id="chapitre2-couverture">
      <div id="sommaire-chapitre2" class="sommaire-container-chapitre">
        <div class="mot-chapitre" style="color: #764b36">Chapitre</div>
        <div class="numero-chapitre" style="color: #764b36">02</div>
        <div class="titre-chapitre" style="color: #764b36">
          Par quoi commencer
        </div>
      </div>
    </div>
    <div class="chapitre-container">
      <div class="chapitre-titre">Chapitre 02 - Par quoi commencer</div>
      <div class="chapitre-barre"></div>
      <div class="title">tes objectifs</div>
      <div class="texte">
        <p>
          Maintenant que tu as terminé ta préparation physique, tu es sûrement
          impatient de commencer à pratiquer le véritable street workout.
          Cependant, avant de te lancer tête baissée dans cette activité, il est
          important de te fixer des objectifs clairs et précis. Comme je l'ai
          mentionné dans mon précédent e-book, il est important de définir trois
          types d'objectifs :
        </p>
        <p>
          Les objectifs à court terme sont des objectifs qui évoluent
          régulièrement. Il est important de te fixer des objectifs accessibles
          à atteindre dans un délai de 2 semaines à 1 mois. Par exemple, si tu
          débutes dans le street workout, tu pourrais te fixer comme objectif à
          court terme de pouvoir faire 10 répétitions d'un mouvement donné.
        </p>
        <p>
          Les objectifs à moyen terme sont des objectifs qui te donnent une
          ligne directrice pour tes entraînements. Ils peuvent être atteints
          dans un délai de 3 mois à 6 mois. Par exemple, tu pourrais te fixer
          comme objectif à moyen terme de pouvoir faire un mouvement donné avec
          une variation plus difficile.
        </p>
        <p>
          Les objectifs à long terme sont des objectifs qui définissent une
          finalité, un niveau de rêve. Ils ne sont généralement pas atteints
          rapidement et peuvent prendre plus d'un an pour être atteints. Par
          exemple, tu pourrais te fixer comme objectif à long terme de pouvoir
          réaliser un mouvement très difficile comme la planche
        </p>
      </div>
    </div>
    <div class="chapitre-container">
      <div class="title">ME METTRE A L'ACTION</div>
      <div class="texte">
        <p>
          Maintenant que tu as défini tes objectifs et achevé ta préparation
          physique, il est temps de passer à l'action. Pour commencer, je te
          conseille de te familiariser avec des variantes de la figure finale
          que tu as définie comme objectif. Par exemple, si ta figure finale est
          la planche, tu pourrais commencer par apprendre la tuck planche ou les
          handstand push up. Mais pour atteindre tes objectifs, il est important
          de garder une mentalité forte car la progression dans cet art peut
          être lente et il est facile de se décourager. Il est donc important de
          te rappeler que la persévérance et la détermination sont essentielles
          pour réussir.
        </p>
        <p>
          Pour aider à atteindre tes objectifs, je te conseille de trouver un
          partenaire avec qui t'entraîner. Avoir un partenaire peut t'aider à te
          motiver et à te tenir responsable de ton progrès. De plus, tu peux
          utiliser ton partenaire pour tester de nouvelles figures et pour
          échanger des critiques constructives.
        </p>
        <p>
          De plus, je te conseille d'établir une routine d'entraînement
          cohérente et de suivre un calendrier. Tu peux définir des objectifs à
          court et à long terme et fixer des jalons pour mesurer ton progrès.
          Cela peut t'aider à rester concentré et à travailler de manière
          cohérente vers tes objectifs.
        </p>
        <p>
          Enfin, je te conseille de te fixer des objectifs réalistes et de te
          donner des encouragements. Cela peut t'aider à te motiver et à rester
          positif, même si la progression est lente.
        </p>
        <p>
          En résumé, maintenant que tu as défini tes objectifs et que tu as fini
          ta préparation physique, il est temps de passer à l'action. Commence
          par des variantes de la figure finale que tu as définie comme
          objectif, mais n'oublie pas qu'il est important d'avoir un mental
          solide pour atteindre tes objectifs car la progression peut être lente
          et il est facile de se décourager. Trouve un partenaire avec qui
          t'entraîner, établis une routine d'entraînement cohérente et fixe-toi
          des objectifs réalistes et des encouragements.
        </p>
      </div>
    </div>
    <div id="chapitre3-couverture">
      <div id="sommaire-chapitre3" class="sommaire-container-chapitre">
        <div class="mot-chapitre">Chapitre</div>
        <div class="numero-chapitre">03</div>
        <div class="titre-chapitre">La mentalité à avoir</div>
      </div>
    </div>
    <div class="chapitre-container">
      <div class="chapitre-titre">Chapitre 03 - La mentalité à avoir</div>
      <div class="chapitre-barre"></div>
      <div class="title">ecouter son corps</div>
      <div class="texte">
        <p>
          Le street workout est une discipline exigeante qui nécessite beaucoup
          de motivation pour pouvoir continuer sur la durée. Pour y parvenir, il
          est important d'adopter une mentalité positive et de se rappeler que
          la progression peut être lente. Il est important de ne pas se mettre
          de pression excessive et de ne pas chercher à dépasser ses limites,
          mais plutôt à les approcher petit à petit.
        </p>
        <p>
          Il est important de se rappeler que la préparation physique est
          essentielle pour éviter les blessures et progresser de manière
          efficace. Il ne faut pas adopter la mentalité "No Pain No Gain" car
          cela peut entraîner des douleurs inutiles et ralentir votre
          progression. Il est préférable de pousser ses limites progressivement
          plutôt que de chercher à les dépasser.
        </p>
        <p>
          En résumé, pour réussir dans le street workout, il est important de se
          rappeler que la progression peut être lente et de s'entraîner de
          manière réfléchie et en respectant ses limites physiques. Il est
          important de se donner à fond, mais en évitant les douleurs inutiles.
          Si vous ressentez des douleurs, n'hésitez pas à consulter un médecin
          pour établir un diagnostic. Je crois en toi et je suis convaincu que
          tu vas réussir !
        </p>
      </div>
    </div>
    <div class="chapitre-container">
      <div class="title">Quand prendre du repos</div>
      <div class="texte">
        <p>
          Dans une discipline aussi exigeante que le street workout, il est
          crucial de prendre le temps de se reposer. Cependant, il peut être
          difficile de savoir exactement quand prendre du repos, surtout si tu
          n'es pas un athlète confirmé.
        </p>
        <p>
          Ma réponse à cette question est qu'il est important d'écouter ton
          propre corps et de te fier à tes sensations. Essaie différents schémas
          d'entraînement et observe comment tu te sens après 2 jours
          d'entraînement. Si tu te sens capable de rajouter un jour
          d'entraînement, fais-le, mais si tu te sens fatigué ou si tu as mal,
          il est préférable de te reposer.
        </p>
        <p>
          Il est également important de tenir compte de ton emploi du temps
          général lorsque tu planifies tes jours de repos. Si tu sais que tu
          n'auras pas beaucoup de temps libre le mercredi, par exemple, il est
          judicieux de planifier un jour de repos pour ce jour-là.
        </p>
        <p>
          Il est important de noter que tu dois faire attention à ne pas te
          mettre en surentraînement, car cela pourrait causer des blessures.Si
          tu as des douleurs, il est préférable de consulter un médecin pour
          établir un diagnostic.
        </p>
        <p>
          En résumé, il est important d'écouter son corps et de s'adapter à ses
          besoins pour savoir quand prendre du repos dans le street workout. Il
          est également important de tenir compte de son emploi du temps et de
          ne pas se mettre en surentraînement pour éviter les blessures.
        </p>
      </div>
    </div>
    <div id="chapitre4-couverture">
      <div id="sommaire-chapitre4" class="sommaire-container-chapitre">
        <div class="mot-chapitre" style="color: #efe7dd">Chapitre</div>
        <div class="numero-chapitre" style="color: #efe7dd">04</div>
        <div class="titre-chapitre" style="color: #efe7dd">
          Alros, tu passes a l'action ?
        </div>
      </div>
    </div>
    <div class="chapitre-container">
      <div class="chapitre-titre">
        Chapitre 04 - Alors, tu passe a l'action ?
      </div>
      <div class="chapitre-barre"></div>
      <div class="texte">
        <p>
          Félicitations pour avoir fini de lire cet ebook ! Tu as maintenant
          toutes les bases pour commencer le street workout dans les meilleures
          conditions possibles. Si tu as des questions sur le sujet, n'hésite
          pas à me contacter sur Instagram (@mattia_gms).
        </p>
        <p>
          J'en suis sûr, tu y arriveras et pour cela je te conseille de
          consulter d'autres ebooks afin d'avoir un maximum d'informations.Cette
          méthode de sport est très efficace et très gratifiante. Il ne te reste
          plus qu'à te lancer dans le Street Workout ! Tu verras, tu trouveras
          très vite un entraînement qui te convient et qui te permettra de
          progresser à ton rythme.
        </p>
        <p>
          Tu pourras également trouver de nombreuses sources d'inspiration sur
          les réseaux sociaux et suivre les conseils des professionnels pour
          t'améliorer rapidement.
        </p>
        <p>
          Je serais ravie de lire tes retours à propos de cet ebook sur ma page
          Instagram ou si tu veux me soutenir, tu peux le faire via PayPal en
          cliquant
          <a
            href="https://www.paypal.com/donate/?hosted_button_id=G4WRCP4ZFUT9Q "
            >ici.</a
          >
          N'hésite pas à me contacter si tu as besoin d'aide ou si tu as des
          questions. Je me tiens à ta disposition pour te guider vers la
          réussite ! Je sais que tu réussiras à atteindre tes objectifs et je te
          souhaite une très belle réussite dans ta pratique du street workout !
        </p>
      </div>
    </div>
    <!-- -->
  </body>
</html>
